{% extends"base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3 class="my-4 text-center"> Rédiger un Article</h3>
                {{ form(form,{attr: {novalidate:'novalidate'}}) }}
            </div>
        </div>
    </div>
{% endblock %}